#map{
  height: 500px;
}
.leaflet-control-layers-list{
  margin-top: -60px;
}
.leaflet-popup-content {
  max-width: 240px;
  /* height: 200px;
  overflow-y: scroll; */
}
.kanit{
  font-family: "Kanit",sans-serif !important;
  font-size: 16px !important; 
}
.kanit-18{
  font-family: "Kanit",sans-serif !important;
  font-size: 18px !important; 
}
.kanit-20{
  font-family: "Kanit",sans-serif !important;
  font-size: 20px !important; 
}
.kanit-20-b{
  font-family: "Kanit",sans-serif !important;
  font-size: 20px !important; 
  font-weight: bold;
}
.peach2{
    --bg-color:linear-gradient(135deg, hsla(0, 0%, 100%, 0) 0%, rgb(237, 247, 253) 25%, rgb(176, 219, 247) 75%, hsla(199, 83%, 59%, 0.8) 100%);
   --shadow-color: 5px 10px 16px #cee1fa, 0px 0px 46px #cee1fa;
   --bg-color-light: #F4FAFF;
   --text-color:#3CA1FF;
   --text-color-h:#407ded;
}
.peach3{
    --bg-color:linear-gradient(135deg, hsla(0, 0%, 100%, 0) 0%, rgb(237, 247, 253) 25%, rgb(176, 219, 247) 75%, hsla(199, 83%, 59%, 0.8) 100%);
   --shadow-color: 5px 10px 16px #cee1fa, 0px 0px 46px #cee1fa;
   --bg-color-light: #F4FAFF;
   --text-color:#0563BB;
   --text-color-h:#3CA1FF;
}
.peach{
    --bg-color:linear-gradient(135deg, hsla(0, 0%, 100%, 0) 0%, hsla(0, 79%, 96%, 1) 25%, hsla(348, 82%, 83%, 1) 75%, hsla(348, 83%, 59%, 0.8) 100%);
   --shadow-color: 5px 10px 16px #FACED5, 0px 0px 46px #FACED5;
   --bg-color-light: #FDEEEE;
   --text-color:#ef709b;
   --text-color-h:hsla(348, 83%, 59%);;
}
.content{
    /* display: flex; */
    flex-direction: column;
    /* flex-wrap: nowrap; */
    /* align-items: stretch; */
    justify-content: center;
    /* width: 100%; */
    margin: auto;
    
}
.content span{
    font-weight: bold;
    color: var(--text-color);
    text-align: center;
}
.content:hover span{
    color:var(--text-color-h);
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    /* transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms; */
}
.card{
    width: 200px;
    height: 200px;
    border-radius: 20%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    transition: all 0.3s ease-out;
    text-decoration: none;
    /* opacity: 0.4; */
    background-color: #FFF;
    /* border-color:#FFF; */
    /* background:  var(--bg-color-light); */
    border-color: var(--bg-color-light);
    margin-bottom: 25px;
    /* box-shadow:0 24px 36px rgba(0, 0, 0, 0.11), 0 0px 46px rgba(0, 0, 0, 0.04); */
    /* box-shadow: var(--shadow-color); */
}
.card:hover {
    /* opacity: 1; */
    /* box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(255, 255, 255, 0.8); */
    /* margin-bottom: 30px; */
    /* border-radius: 35%; */
    /* box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.5), inset 8px 8px 16px rgba(255, 255, 255, 0.1); */
    /* box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 0px 46px rgba(0, 0, 0, 0.04); */
    /* background-image: linear-gradient(to right, #FFEDBC, #E8E8ED);
     */
     border-style: solid;
     border-width: 5px;
     background: var(--bg-color);
     /* box-shadow:var(--shadow-color); */
     box-shadow:0 24px 36px rgba(0, 0, 0, 0.11), 0 0px 46px rgba(0, 0, 0, 0.04);
    transform: translateY(-5px) scale(1.05) translateZ(0);
    justify-content: center;
}
.card:active{
    background: var(--bg-color);
    box-shadow:var(--shadow-color);
   transform: translateY(-5px) scale(1.05) translateZ(0);
   justify-content: center;
}
.sibling-fade { visibility: hidden; }
/* Prevents :hover from triggering in the gaps between items */

.sibling-fade > * { visibility: visible; }
/* Brings the child items back in, even though the parent is `hidden` */

.sibling-fade > * { transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms; }
/* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

.sibling-fade:hover > * { opacity: 0.4; transform: scale(0.9); }
/* Fade out all items when the parent is hovered */

.sibling-fade > *:hover { opacity: 1; transform: scale(1); transition-delay: 0ms, 0ms; }
/* Fade in the currently hovered item */

/* .sibling-fade {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  
 /*  .sibling-fade > * {
    background: white; 
    flex: auto;
    padding: 1em;
    margin: 0.3em;
    text-align: center;
    color: #f05555;
    font-size: 1.5em;
    text-decoration: none;
  }*/


  .btn-detai { 
    color: #0563BB; 
    /* background-color: #FFFFFF;  */
    border-color: #FFFFFF; 
  } 
   
  .btn-detai:hover, 
  .btn-detai:focus, 
  .btn-detai:active, 
  .btn-detai.active, 
  .open .dropdown-toggle.btn-detai { 
    color: #FFFFFF; 
    /* background-color: #3CA1FF; */
    border-color: #FFFFFF;  
  } 
   
  .btn-detai:active, 
  .btn-detai.active, 
  .open .dropdown-toggle.btn-detai { 
    background-image: none; 
  } 
   
  .btn-detai.disabled, 
  .btn-detai[disabled], 
  fieldset[disabled] .btn-detai, 
  .btn-detai.disabled:hover, 
  .btn-detai[disabled]:hover, 
  fieldset[disabled] .btn-detai:hover, 
  .btn-detai.disabled:focus, 
  .btn-detai[disabled]:focus, 
  fieldset[disabled] .btn-detai:focus, 
  .btn-detai.disabled:active, 
  .btn-detai[disabled]:active, 
  fieldset[disabled] .btn-detai:active, 
  .btn-detai.disabled.active, 
  .btn-detai[disabled].active, 
  fieldset[disabled] .btn-detai.active { 
    background-color: #FFFFFF; 
    border-color: #FFFFFF; 
  } 
   
  .btn-detai .badge { 
    color: #FFFFFF; 
    background-color: #0563BB; 
    border-color: #FFFFFF; 
  }
  .kanit-18{
      font-size: 18px;
      font-weight: bold;
      color: #45505b;
  }

  .card-a:hover>.kanit-18{
      font-size: 22px;
      transform: translateY(-5px) scale(1.05) translateZ(0);
      margin-bottom: -9px;
  }
  .card-a:hover>.card-b{
    /* display: flex;
    justify-content: center;
      align-items: center;
    width: auto;
    height: auto; */
    /* margin-bottom: 30px; */
    /* border-radius: 20px; */
    color: #0563BB;
    border-color: #0563BB;
    border-style: solid;
    border-width: 5px;
    /* box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.5), inset 8px 8px 16px rgba(255, 255, 255, 0.1); */
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 0px 46px rgba(0, 0, 0, 0.04);
    background-color: #FFF;
    transform: translateY(-5px) scale(1.05) translateZ(0);
  }

  .card-b{
    background-color: #0563BB;
    color: #FFF;
  }

  .card-d{
      background-color: #FFF;
      color: black;
      border-style: solid;
      border-width: 2px;
      border-color: black;
  }
  .card-c:hover>.card-d{
      background-color: #0563BB;
      color: #FFF;
      border-color: #0563BB;
    }
 .card-shadow{
      border-radius: 15px;
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 0px 46px rgba(0, 0, 0, 0.04);
  }
.card-dash p{
    color: #728394;
    /* font-weight: 600; */
}
.card-dash i{
    color: #728394;
    font-weight: 600;
}

.card-dash2 {
background-color: #5091cf

;
color: #FFF;
}

.scroll{
  /* height:400px; */
  background-color: none;
  width: 100%;
 max-width: max-content;
  overflow-x: scroll;
}
/* .scroll::-webkit-scrollbar-track {
  background-color: darkgrey;
}
.scroll::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */